/*reset*/
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*Variables*/
html {
  --blue: hsla(206, 75%, 42%, 1);
  --dark-blue: hsla(206, 79%, 21%, 1);
  --dark-grey: hsla(193, 10%, 37%, 1);
  --grey: hsla(0, 0%, 96%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

/*Header*/

#header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.625rem;
  background: var(--white);
}
.line {
  display: solid;
  position: sticky;
  top: 5.625rem;
  background-color: var(--dark-blue);
  opacity: 0.2;
  width: 100vw;
  height: 1px;
}

.buttom {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;

  font-family: 'Source Sans Pro' 400;
  font-size: 1rem;

  cursor: pointer;
  transition: 0.3s;
}

.buttom:hover {
  filter: brightness(1.7);
  font-size: 1.1rem;
}

.buttom .icon {
  transition: 0.3s;
  font-size: 2rem;
}

/*Hide and show menus*/

/* main menu */
#menu .main_menu_wrapper {
  margin-top: 2.5rem;
  padding: 0rem 2rem;
  transition: 0.5s;
  display: none;
  gap: 2rem;
}
#menu .main_menu_wrapper.show {
  transition: 0.5s;
  display: grid;
}
/*sub-menus*/
#menu .grid {
  display: none;
}

#menu .menu_cars .grid.show,
#menu .menu_motorcycles .grid.show,
#menu .menu_trucks .grid.show {
  display: grid;
}

/*Secondary menu*/
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--grey);
}

/* Back to top */
.return_button {
  background: var(--blue);
  color: var(--white);

  display: flex;
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  clip-path: circle();
  font-size: 2rem;
  line-height: 0;
  transform: rotate(-90deg);
  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
}
.return_button.show {
  visibility: visible;
  opacity: 1;
}

.return_button:hover {
  filter: brightness(1.4);
  font-size: 2.5rem;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
main {
  min-height: 82.5vh;
}

#footer .footer_wrapper {
  height: 3rem;
  margin-top: 2rem;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer_wrapper.hidden {
  display: none;
}

#footer .social {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
#footer .icon {
  color: var(--blue);
  font-size: 1.5rem;
}

/*========= MEDIA QUERIES =========*/
@media (min-width: 1000px) {
  #menu .main_menu_wrapper {
    padding: 2rem 15.625rem;
  }
  .home_container {
    padding: 0rem 14.5rem;
  }
  .home_section .home_image {
    display: block;
    opacity: 1;
  }
}
